@import 'sale-items.css';

.ad__banner {
  margin-bottom: 20px;
}

.ad__banner img {
  width: 100%;
  vertical-align: middle;
}

.banner  {
  position: relative;
}
.banner__sale {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 21px;
  font-weight: 700;
  min-width: 222px;
  color: var(--white-color);
}

.banner__timer {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 22px;
  font-weight: 700;
  color: var(--white-color);
}

.banner__info {
  font-size: 8px;
  margin-bottom: 6px;
}

.banner__time {
  font-size: 12px;
}

.banner__timer span {
  font-size: 20px;
}

.banner__timer span:not(:first-child) {
  margin-left: 8px;;
}

.grid__img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr) 123px;
  justify-content: center;
  gap: 20px;
  grid-template-areas: 
  "firstBox"
  "secondBox"
  'thirdBox'
  "fifthBox"
  'fourthBox';
}

.grid__item {
  position: relative;
}

.grid__box_first {
  grid-area: firstBox;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  grid-template-areas: 
  "book time"
  "redshoes redshoes";
}

.grid__item_book {
  grid-area: book;
}

.grid__item_time {
  grid-area: time;
}

.sale-circle_time {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.grid__item_redshoes {
  grid-area: redshoes;
}

.sale-circle_redshoes {
  position: absolute;
  top: 5px;
  left: 5px;
}

.grid__box_second {
  grid-area: secondBox;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.grid__box_third {
  grid-area: thirdBox;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 22px;
  grid-template-areas: 
  "gifts"
  "laptop";
}
.grid__item_gifts {
  grid-area: gifts;
}
.grid__item_laptop {
  grid-area: laptop;
}

.sale-circle_laptop {
  position: absolute;
  right: 5px;
  bottom: 5px;
}
.grid__box_fourth {
  grid-area: fourthBox;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.grid__box_fifth {
  grid-area: fifthBox;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  grid-template-areas: 
  "girl chem"
  "girl balls";
}

.grid__item_girl {
  grid-area: girl;
}

.sale-circle_girl {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.grid__item_chem {
  grid-area: chem;
}

.sale-circle_chem {
  position: absolute;
  top: 5px;
  left: 5px;
}

.grid__item_balls {
  grid-area: balls;
}

.sale-offer_book {
  max-width: 65px;
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.sale-offer_time {
  font-weight: 700;
  position: absolute;
  top: 28px;
  left: 10px;
}

.sale-offer_sneakers {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  padding: 11px 0;
  text-align: center;
  background-color: var(--blue-color);
  border-radius: 8px;
}

.sale-offer_year {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  padding: 11px 0;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--red-color);
  background-color: var(--white-color);
  border-radius: 8px;
}

.sale-offer_gifts,
.sale-offer_laptop {
  position: absolute;
  left: 10px;
  bottom: 16px;
  font-weight: 700;
}

.sale-offer_chem {
  position: absolute;
  left: 9px;
  right: 10px;
  bottom: 10px;
  font-weight: 700;
}

@media (min-width: 320px) {
  .banner__sale {
    top: 20px;
  }
  
  .banner__timer {
    bottom: 10px;
  }
}

@media (min-width: 769px) {
  .ad__banner {
    margin-bottom: 40px;
  }
  
  .banner__sale {
    top: 64px;
    left: 80px;
    transform: translate(0);
    font-size: 30px;
    min-width: 302px;
  }
  
  .banner__timer {
    bottom: 33px;
  }
  
  .banner__info {
    font-size: 12px;
    margin-bottom: 10px;
  }
  
  .banner__time {
    font-size: 16px;
  }
  
  .banner__timer span {
    font-size: 30px;
  }
  
  .banner__timer span:not(:first-child) {
    margin-left: 10px;;
  }
  
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr) 337px;
    column-gap: 20px;
    row-gap: 22px;
    grid-template-areas:
    "firstBox secondBox"
    "thirdBox fifthBox"
    "fourthBox fourthBox";
  }

  .grid__box_first {
    column-gap: 40px;
    row-gap: 22px;
  }

   .grid__box_third {
    gap: 22px;
  }

  .grid__box_fifth {
    gap: 21px;
  }

  .sale-offer_book {
    max-width: 117px;
    left: 10px;
    bottom: 15px;
  }
  
  .sale-offer_time {
    font-weight: 700;
    top: 15px;
    left: 5px;
  }
  
  .sale-offer_sneakers {
    padding: 20px 0;
  }
  
  .sale-offer_year {
    left: 26px;
    bottom: 26px;
    padding: 22px 0;
    max-width: 513px;
  }
  
  .sale-offer_gifts,
  .sale-offer_laptop {
    left: 20px;
    bottom: 20px;
    max-width: 150px;
  }
  
  .sale-offer_chem {
    left: 3px;
    bottom: 11px;
  }
  
}

@media (min-width: 1025px) {
  .banner__sale {
    top: 80px;
    font-size: 40px;
    min-width: 403px;
  }
  
  .banner__timer {
    bottom: 36px;
  }
  
  .banner__info {
    font-size: 16px;
  }
  
  .banner__time {
    font-size: 20px;
  }
  
  .banner__timer span {
    font-size: 40px;
  }
  
  .banner__timer span:not(:first-child) {
    margin-left: 20px;
  }

  .grid {
    grid-template-rows: repeat(2, 1fr) 418px;
    column-gap: 30px;
    row-gap: 22px;
  }

  .grid__box_first {
    column-gap: 60px;
    row-gap: 24px;
  }

   .grid__box_third {
    gap: 22px;
  }

  .grid__box_fifth {
    column-gap: 44px;
    row-gap: 18px;
  }

  .sale-circle_time {
    bottom: 10px;
    right: 10px;
  }
  .sale-circle_redshoes {
    top: 10px;
    left: 10px;
  }
  .sale-circle_laptop {
    bottom: 10px;
    right: 10px;
  }
  .sale-circle_girl {
    bottom: 10px;
    right: 23px;
  }
  .sale-circle_chem{
    top: 10px;
    left: 10px;
  }

  .sale-offer_book {
    max-width: 190px;
    left: 9px;
    bottom: 32px;
  }
  
  .sale-offer_time {
    top: 54px;
    left: 9px;
  }
  
  .sale-offer_sneakers {
    left: 20px;
    right: 20px;
    bottom: 20px;
    padding: 25px 0;
  }
  
  .sale-offer_year {
    left: 30px;
    bottom: 39px;
    padding: 24px 0;
  }
  
  .sale-offer_gifts {
    left: 30px;
    bottom: 27px;
    max-width: 257px;
  }
  .sale-offer_laptop {
    left: 30px;
    bottom: 36px;
    max-width: 280px;
  }
  
  .sale-offer_chem {
    bottom: 19px;
  }
}

@media (min-width: 1736px) {
  .ad__banner {
    margin-bottom: 60px;
  }
  .banner__sale {
    top: 145px;
    left: 187px;
    font-size: 70px;
    min-width: 705px;
  }
  
  .banner__timer {
    bottom: 40px;
  }
  
  .banner__time {
    font-size: 32px;
  }
  
  .banner__timer span {
    font-size: 60px;
  }
  
  .banner__timer span:not(:first-child) {
    margin-left: 30px;
  }
  
  .grid {
    grid-template-columns: repeat(3, minmax(516px, 550px));
    grid-template-rows: repeat(2, max-content);
    column-gap: 60px;
    row-gap: 60px;
    grid-template-areas:
    "firstBox secondBox thirdBox"
    "fourthBox fourthBox fifthBox";
  }

  .grid__box_first {
    column-gap: 60px;
    row-gap: 43px;
  }

  .grid__box_third {
    gap: 30px;
  }

  .grid__box_fifth {
    column-gap: 30px;
    row-gap: 26px;
  }

  .sale-offer_book {
    max-width: 190px;
    left: 20px;
    bottom: 27px;
  }

  .sale-offer_sneakers {
    font-size: 40px;
    line-height: 48px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .sale-offer_time {
    top: 77px;
    left: 11px;
  }
  
  .sale-offer_year {
    left: 50px;
    bottom: 50px;
    max-width: 643px;
  }
  
  .sale-offer_gifts {
    left: 30px;
    bottom: 30px;
    max-width: 340px;
  }
  .sale-offer_laptop {
    left: 30px;
    bottom: 40px;
    max-width: 373px;
  }
  
  .sale-offer_chem {
    left: 20px;
    bottom: 37px;
  }
}

.timer__box {
  display: flex;
  justify-content: center;
  gap: 20px;
}