.blog {
  padding: 150px 0;
}

.blog__wrapper {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 143px;
  row-gap: 50px;
}

.card {
  display: flex;
  gap: 30px;
}

.card__img img {
  width: 100%;
  min-width: 195px;
  /* height: 195px; */
  vertical-align: middle;
  border-radius: 20px;
}

.card__info {
  max-width: 400px;
}

.card__title {
  margin-bottom: 13px;
  color: #2D2D2D;
  font-size: 32px;
  font-weight: 700;
  line-height: 130%;
}

.card__when {
  margin-bottom: 40px;  
}

.when {
  color: #8F8F8F;
  font-size: 16px;
  font-weight: 700;
  line-height: 130%;
}

.social {
  color: #8F8F8F;
  font-size: 16px;
  font-weight: 700;
  line-height: 130%;
  display: flex;
  gap: 25px;
}

.social img {
  width: 100%;
  max-width: 24px;
  max-height: 24px;
}

.social__views,
.social__comments {
  display: flex;
  align-items: center;
}

.social__views {
  gap: 4px;
}

.social__comments {
  gap: 9px;
}

.blog__pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  color: #000;
}

.pagiantion__link {
  border: 1px solid #ccc;
  padding: 5px;
}

@media (max-width: 1440px) {
  .card__title {
    font-size: 26px;
  }
}

@media (max-width: 1280px) {
  .card__title {
    font-size: 22px;
  }
}

@media (max-width: 1024px) {
  .card__title {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .blog__wrapper {
    grid-template-columns: 1fr;
  }

  .card__title {
    font-size: 16px;
  }

  .card__img img {
    min-width: 160px;
  }

  .when {
    font-size: 14px;
  }

  .social {
    font-size: 14px;
  }
}

@media (max-width: 425px) {
  .card__title {
    font-size: 14px;
  }

  .when {
    font-size: 12px;
  }

  .social {
    font-size: 12px;
  }
}