.blog {
  padding: 150px 0;
}

.blog__wrapper {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 143px;
  row-gap: 50px;
}

.card {
  display: flex;
  gap: 30px;
}

.card__img img {
  width: 100%;
  min-width: 195px;
  /* height: 195px; */
  vertical-align: middle;
  border-radius: 20px;
}

.card__info {
  max-width: 400px;
}

.card__title {
  margin-bottom: 13px;
  color: #2D2D2D;
  font-size: 32px;
  font-weight: 700;
  line-height: 130%;
}

.card__when {
  margin-bottom: 40px;  
}

.when {
  color: #8F8F8F;
  font-size: 16px;
  font-weight: 700;
  line-height: 130%;
}

.social {
  color: #8F8F8F;
  font-size: 16px;
  font-weight: 700;
  line-height: 130%;
  display: flex;
  gap: 25px;
}

.social img {
  width: 100%;
  max-width: 24px;
  max-height: 24px;
}

.social__views,
.social__comments {
  display: flex;
  align-items: center;
}

.social__views {
  gap: 4px;
}

.social__comments {
  gap: 9px;
}

.pagination__wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}

.pagination__list {
  display: flex;
  align-items: center;
  gap: 6px;
}

.pagination__link.active,
.pagination__link:hover {
  color: #3670C7;
  border-color: #3670C7;
}

.pagination__link {
  font-size: 16px;
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  color: #2D2D2D;
  border: 2px solid #2D2D2D;
  border-radius: 4px;
  padding: 7px 13px;
}

.pagination__prev,
.pagination__next {
  border: none;
  background: none;
  width: 37px;
  height: 37px;
}

.pagiantion__link {
  color: #000;
}

.blog__pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pagiantion__link.active {
  color: #3670c7;
}

@media (max-width: 1440px) {
  .card__title {
    font-size: 26px;
  }
}

@media (max-width: 1280px) {
  .card__title {
    font-size: 22px;
  }
}

@media (max-width: 1024px) {
  .card__title {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .blog__wrapper {
    grid-template-columns: 1fr;
  }

  .card__title {
    font-size: 16px;
  }

  .card__img img {
    min-width: 160px;
  }

  .when {
    font-size: 14px;
  }

  .social {
    font-size: 14px;
  }
}

@media (max-width: 425px) {
  .card__title {
    font-size: 14px;
  }

  .when {
    font-size: 12px;
  }

  .social {
    font-size: 12px;
  }
}